In [27]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.axes import Axes
from matplotlib.ticker import MultipleLocator
import numpy as np
import seaborn as sns
sns.set_style("darkgrid")
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, median_absolute_error
from statistics import mean
from sklearn.model_selection import cross_val_score
import math

### Datasets

In [3]:
df = pd.read_csv('train.csv', index_col='id')
df

,allelectrons_Total,density_Total,allelectrons_Average,val_e_Average,atomicweight_Average,ionenergy_Average,el_neg_chi_Average,R_vdw_element_Average,R_cov_element_Average,zaratio_Average,density_Average,Hardness
id,,,,,,,,,,,,
0,100.0,0.841611,10.000000,4.800000,20.612526,11.088100,2.766000,1.732000,0.860000,0.496070,0.91457,6.0
1,100.0,7.558488,10.000000,4.800000,20.298893,12.040830,2.755000,1.631000,0.910000,0.492719,0.71760,6.5
2,76.0,8.885992,15.600000,5.600000,33.739258,12.086300,2.828000,1.788000,0.864000,0.481478,1.50633,2.5
3,100.0,8.795296,10.000000,4.800000,20.213349,10.948500,2.648000,1.626000,0.936000,0.489272,0.78937,6.0
4,116.0,9.577996,11.600000,4.800000,24.988133,11.824480,2.766000,1.682000,0.896000,0.492736,1.86481,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10402,128.0,7.558488,12.000000,4.000000,26.385218,11.330440,2.644000,1.631000,0.892000,0.496070,1.79607,4.0
10403,30.0,1.743160,10.000000,5.333333,20.766935,14.163933,3.090000,1.556667,0.866667,0.480390,0.81480,5.0
10404,196.0,30.920000,24.500000,5.500000,53.490297,10.074300,2.295000,1.545000,1.120000,0.469715,2.11540,1.8
10405,38.0,1.553160,12.666667,4.666667,26.621687,11.290033,2.743333,1.756667,0.980000,0.486507,0.77755,6.0
10406,288.0,24.655328,11.142857,4.571429,22.536126,10.960357,2.792143,1.772857,0.940000,0.493919,0.97737,6.5

In [35]:
df_test = pd.read_csv('test.csv')
df_test

,id,allelectrons_Total,density_Total,allelectrons_Average,val_e_Average,atomicweight_Average,ionenergy_Average,el_neg_chi_Average,R_vdw_element_Average,R_cov_element_Average,zaratio_Average,density_Average
0,10407,884.0,121.420000,35.360000,5.280000,82.561240,9.370384,2.298000,1.907200,1.200000,0.461899,1.79459
1,10408,90.0,9.931960,18.000000,5.600000,39.568056,12.086300,2.868000,1.652000,0.864000,0.476196,1.41194
2,10409,116.0,7.767992,11.600000,4.800000,23.231818,11.023840,2.644000,1.794000,0.960000,0.499514,0.78834
3,10410,100.0,9.107996,10.000000,4.800000,20.298893,12.086300,2.828000,1.662000,0.792000,0.495796,1.20466
4,10411,55.0,4.030000,11.000000,4.000000,22.977675,11.280950,2.455000,1.750000,0.893333,0.476095,0.93456
...,...,...,...,...,...,...,...,...,...,...,...,...
6934,17341,446.0,36.135392,9.636364,4.636364,19.689448,11.045515,2.768636,1.769697,0.871818,0.498702,0.11548
6935,17342,36.0,3.550000,18.000000,4.000000,36.068500,8.236600,1.790000,2.055000,1.390000,0.499000,1.35045
6936,17343,68.0,4.545328,11.333333,5.333333,22.688853,10.938358,2.876667,1.713333,0.916667,0.499074,0.73425
6937,17344,40.0,2.334164,6.666667,4.000000,13.016128,12.700467,2.770000,1.476667,0.616667,0.663797,0.51227
6938,17345,134.0,17.590000,67.000000,5.000000,167.400000,8.213150,1.950000,2.040000,1.410000,0.401635,0.44035

In [5]:
submission_sample = pd.read_csv('sample_submission.csv')
submission_sample

         id  Hardness
0     10407     4.647
1     10408     4.647
2     10409     4.647
3     10410     4.647
4     10411     4.647
...     ...       ...
6934  17341     4.647
6935  17342     4.647
6936  17343     4.647
6937  17344     4.647
6938  17345     4.647

[6939 rows x 2 columns]

### Training dataset modeling

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10407 entries, 0 to 10406
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   allelectrons_Total     10407 non-null  float64
 1   density_Total          10407 non-null  float64
 2   allelectrons_Average   10407 non-null  float64
 3   val_e_Average          10407 non-null  float64
 4   atomicweight_Average   10407 non-null  float64
 5   ionenergy_Average      10407 non-null  float64
 6   el_neg_chi_Average     10407 non-null  float64
 7   R_vdw_element_Average  10407 non-null  float64
 8   R_cov_element_Average  10407 non-null  float64
 9   zaratio_Average        10407 non-null  float64
 10  density_Average        10407 non-null  float64
 11  Hardness               10407 non-null  float64
dtypes: float64(12)
memory usage: 1.0 MB

In [7]:
# Nulls
df.isnull().sum()

allelectrons_Total       0
density_Total            0
allelectrons_Average     0
val_e_Average            0
atomicweight_Average     0
ionenergy_Average        0
el_neg_chi_Average       0
R_vdw_element_Average    0
R_cov_element_Average    0
zaratio_Average          0
density_Average          0
Hardness                 0
dtype: int64

In [10]:
# Split in X (vars. independent) and y (var. dependent).
X = df.iloc[:, :-1]
y = df.iloc[:, 11]

In [14]:
# Split in train and test data.
X_train,X_test, y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
# model linear
regression = LinearRegression(n_jobs=-1)
model = regression.fit(X_train, y_train)

In [17]:
# Prediction in validation data
y_pred = model.predict(X_test)

In [28]:
# Metrics
#MSE y RMSE
mse = mean_squared_error(y_test, y_pred)
print('MSE:',mse)
rmse=math.sqrt(mse)
print('RMSE:',rmse)
medae = median_absolute_error(y_test, y_pred)
print('MedAE:', medae)

MSE: 2.105493781448896
RMSE: 1.451031971201495
MedAE: 0.9746931623972515

In [31]:
# Cross validation score
scores = cross_val_score(regression, X_train, y_train, cv=10, scoring='neg_mean_squared_error')
mse_scores = -scores
r2_scores = cross_val_score(regression, X_train, y_train, cv=10, scoring='r2')

mean_mse = np.mean(mse_scores)
std_mse = np.std(mse_scores)
mean_r2 = np.mean(r2_scores)
std_r2 = np.std(r2_scores)

print(f'Model: {regression}')
print(f'Mean MSE: {mean_mse:.2f} (+/- {std_mse:.2f})')
print(f'Mean R^2: {mean_r2:.2f} (+/- {std_r2:.2f})')
print('--------------------------')

Model: LinearRegression(n_jobs=-1)
Mean MSE: 2.15 (+/- 0.13)
Mean R^2: 0.24 (+/- 0.03)
--------------------------

### Test dataset

In [36]:
df_test.head()

,id,allelectrons_Total,density_Total,allelectrons_Average,val_e_Average,atomicweight_Average,ionenergy_Average,el_neg_chi_Average,R_vdw_element_Average,R_cov_element_Average,zaratio_Average,density_Average
0,10407,884.0,121.420000,35.36,5.28,82.561240,9.370384,2.298,1.9072,1.200000,0.461899,1.79459
1,10408,90.0,9.931960,18.00,5.60,39.568056,12.086300,2.868,1.6520,0.864000,0.476196,1.41194
2,10409,116.0,7.767992,11.60,4.80,23.231818,11.023840,2.644,1.7940,0.960000,0.499514,0.78834
3,10410,100.0,9.107996,10.00,4.80,20.298893,12.086300,2.828,1.6620,0.792000,0.495796,1.20466
4,10411,55.0,4.030000,11.00,4.00,22.977675,11.280950,2.455,1.7500,0.893333,0.476095,0.93456

In [37]:
id_ = df_test['id']

In [39]:
df_test = df_test.drop('id', axis = 1)

In [41]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6939 entries, 0 to 6938
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   allelectrons_Total     6939 non-null   float64
 1   density_Total          6939 non-null   float64
 2   allelectrons_Average   6939 non-null   float64
 3   val_e_Average          6939 non-null   float64
 4   atomicweight_Average   6939 non-null   float64
 5   ionenergy_Average      6939 non-null   float64
 6   el_neg_chi_Average     6939 non-null   float64
 7   R_vdw_element_Average  6939 non-null   float64
 8   R_cov_element_Average  6939 non-null   float64
 9   zaratio_Average        6939 non-null   float64
 10  density_Average        6939 non-null   float64
dtypes: float64(11)
memory usage: 596.4 KB

In [42]:
# Prediction in test data
prediction_test = model.predict(df_test)

In [43]:
submission_test = {'id': id_, 'Hardness': prediction_test}

In [44]:
data = pd.DataFrame(submission_test)

In [45]:
data

         id  Hardness
0     10407  3.474654
1     10408  4.824525
2     10409  5.290989
3     10410  5.274703
4     10411  5.117155
...     ...       ...
6934  17341  5.494298
6935  17342  4.537835
6936  17343  5.456207
6937  17344  4.323472
6938  17345  1.645582

[6939 rows x 2 columns]